.button-active {
	padding: 15px;
	cursor: pointer;
	background-color: #F7F7F7;
	border-radius: 5px;
	pointer-events: none;
}

.button-unactive {
	padding: 15px;
	cursor: pointer;
}

.button-title {
	font-size: 36px;
	color: #01c4e9;
}
