body {
	font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    letter-spacing: -1px;
}

#app {
	display: flex;
	flex-direction: column;
	background-color: #DEDEDE;
	height: 100vh;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30vw;
	padding-right: 30vw;
}

#app-title {
	font-size: 72px;
	font-weight: 700;
	color: #5B5B5B;
	margin-bottom: 25px;
}

#app-button-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
	border-bottom: solid;
	border-width: 1px;
	border-color: #c6c6c6;

}

#app-box-info-container {
	display: flex;
	flex-direction: column;
}

#app-loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}

#app-loader {
  border: 16px solid #F7F7F7;
  border-top: 16px solid  #06C8F0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#app-error-message {
	font-size: 36px;
}

#app-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

